# зависимости
node_modules/

# сборка
dist/
build/

# переменные окружения
.env
.env.local
.env.*.local

# логи
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
.DS_Store

# Prisma (на будущее, если вернёмся к БД)
*.db
*.db-journal